@using System.Security.Policy
@using Microsoft.AspNet.Identity
@using NEDRC.Models
@model IEnumerable<NEDRC.Models.Reports>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<p>
    @if (User.IsInRole("CanManageUsers"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    else{
        @Html.ActionLink("Refresh", "Index")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Description
        </th>
        <th>
            Approval
        </th>
        <th>
            Others
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.IsApproved == false)
                {
                    @Html.Raw("Not Approved Yet")
                }
                @if (item.IsApproved == true)
                {
                    @Html.Raw("Approved")
                }
            </td>
            <td>
                @if (User.IsInRole("CanManageUsers"))
                {
                    @Html.ActionLink("Delete |", "Delete", new { id = item.ReportId })
                    @Html.ActionLink(" View", "View", new { id = item.ReportId })
                }
                else
                {
                    @Html.ActionLink("View |", "View", new { id = item.ReportId })
                    if (item.IsApproved == false && item.User == User.Identity.GetUserId())
                    {
                        @Html.ActionLink("Approve", "ApproveResult", new { id = item.ReportId })
                    }
                }
            </td>
        </tr>
    }

</table>
